server:
  port: 8080

spring:
  application:
    name: circuit_breaker

weather:
  api:
    key: ${WEATHER_API_KEY:default-key-if-missing}

resilience4j:
  circuitbreaker:
    instances:
      weatherApi:
        sliding-window-size: 5                                    # Número de chamadas monitoradas
        failure-rate-threshold: 50                                # Porcentagem de falhas que abre o circuito
        wait-duration-in-open-state: 5s                           # Tempo de espera antes de reabrir
        permitted-number-of-calls-in-half-open-state: 3           # Número de chamadas permitidas no estado meio-aberto
        automatic-transition-from-open-to-half-open-enabled: true # Transição automática de estado aberto para meio-aberto
      weatherApiTimeout:
        sliding-window-size: 5                                    # Número de chamadas monitoradas
        failure-rate-threshold: 50                                # Porcentagem de falhas que abre o circuito
        wait-duration-in-open-state: 5s                           # Tempo de espera antes de reabrir
        permitted-number-of-calls-in-half-open-state: 3           # Número de chamadas permitidas no estado meio-aberto
        automatic-transition-from-open-to-half-open-enabled: true
      userService:
        slidingWindowSize: 4
        minimumNumberOfCalls: 4
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
        permittedNumberOfCallsInHalfOpenState: 2
        automaticTransitionFromOpenToHalfOpenEnabled: true
  timelimiter:
    instances:
      weatherApiTimeout:
        timeout-duration: 5s
        cancel-running-future: on
      userService:
        timeout-duration:
          seconds: 1
logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    circuitbreakers:
      enabled: true
  health:
    circuitbreakers:
      enabled: true