server:
  port: 8080

spring:
  application:
    name: circuit_breaker

weather:
  api:
    key: needToAdd

resilience4j:
  circuitbreaker:
    instances:
      weatherApi:
        sliding-window-size: 5                                    # Número de chamadas monitoradas
        failure-rate-threshold: 50                                # Porcentagem de falhas que abre o circuito
        wait-duration-in-open-state: 5s                           # Tempo de espera antes  de reabrir
        permitted-number-of-calls-in-half-open-state: 2           # Número de chamadas permitidas no estado meio-aberto
        automatic-transition-from-open-to-half-open-enabled: true # Transição automática de estado aberto p/ meio-aberto

logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG